.post-container {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #aaa;
}

.post-container:first-of-type {
  grid-column: 1 / span 2;
}

.post-more {
  display: flex;
  justify-content: space-evenly;
}