.nav-menu-container {
  padding: 0 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  position: sticky;
  top: 0;
  z-index: 10;
  color: #fff;
  border: 2px solid red;
  background-color: #444;
}

.placeholder {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-image {
  border-radius: 100%;
  width: 150px;
  height: auto;
}

.nav-menu-links {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  font-size: 1.1rem;
  padding: 0;
  gap: 2rem;
}

.nav-menu-link {
  font-family: Raleway;
}

.nav-menu-burger {
  display: none;
}

@media screen and (max-width: 968px){
  .nav-menu-container {
    padding: 1rem 3rem;
  }

  .nav-menu-links {
    font-size: 1rem;
  }
}

@media screen and (max-width: 848px){
  .nav-menu-links {
    display: none;
  }

  .nav-menu-burger {
    display: block;
  }
}

@media screen and (max-width: 475px) {
  .nav-menu-container {
    padding: 1rem;
  }

  .nav-image {
    width: 100px;
    height: auto;
  }
}